<!DOCTYPE html>
<html>
<title>Register to Mobile Notebook</title>
<head><link rel="stylesheet" href="styles.css" type="text/css" /></head>
<body>
	<form action="" method="post">
		<table width="100%">
			<tr>
			<td colspan="2">
				<a href="http://tinypic.com?ref=10oect2" target="_blank"><img height="100px" width="350px" src="http://i49.tinypic.com/10oect2.png" border="0" alt="Image and video hosting by TinyPic" class="center"></a>
			</td>			
			</tr>
			<tr>
			<td>
				Welcome {{ username }}!| <a href="/">Signout</a>
			</td>
			<td>
			
			</td>
			</tr>
<tr>
			<td>
				&nbsp;
			</td>
			<td>
			
			</td>
			</tr>
<tr>
			<td>
				<a href="fsfsad">My Account</a>
			</td>
			<td>
			
			</td>
			</tr>
<tr>
			<td>
				<a href="about.html">About</a>
			</td>
			<td>
			
			</td>
			</tr>
<tr>
			<td>
				<a href="fsfsad">Notifications</a>
			</td>
			<td>
			
			</td>
			</tr>
		</table>
	</form>
</body>
</html> </html> 
