<!DOCTYPE html>
<html>
<title>Register to Mobile Notebook</title>
<head><link rel="stylesheet" href="styles.css" type="text/css" /></head>
<body>
	<form action="" method="post">
		<table width="100%">
			<tr>
			<td colspan="2">
				<a href="http://tinypic.com?ref=10oect2" target="_blank"><img height="100px" width="350px" src="http://i49.tinypic.com/10oect2.png" border="0" alt="Image and video hosting by TinyPic" class="center"></a>
			</td>			
			</tr>
			<tr>
			<td>
				First Name:
			</td>
			<td>
			<input type="text" value="fname" />
			</td>
			</tr>
<tr>
			<td>
				Last Name:
			</td>
			<td>
			<input type="text" value="lname" />
			</td>
			</tr>
<tr>
			<td>
				User Name:
			</td>
			<td>
			<input type="text" value="username" />
			</td>
			</tr>
<tr>
			<td>
				Password:
			</td>
			<td>
			<input type="text" value="password" />
			</td>
			</tr>
<tr>
			<td>
				Re-type Password:
			</td>
			<td>
			<input type="text" value="password2" />
			</td>
			</tr>
<tr>
			<td>
				Email:
			</td>
			<td>
			<input type="text" value="email" />
			</td>
			</tr>
<tr>
			<td>
				School:
			</td>
			<td>
			<input type="text" value="password2" />
			</td>
			</tr>
<tr>
			<td>
				&nbsp;
			</td>
			<td>
			<input type="submit" value="Submit" />
			</td>
			</tr>
		</table>
	</form>
</body>
</html> 
